.taskApp__container{
  background-color: #3C3B3C;
  color: white;
  height: 100vh;
  margin-top: 60px;
}

.taskApp__header--title{
  font-size: 20px;
  font-weight: 400  ;
}

.taskApp__navbar{
  position: fixed;
  height: 60px;
  background-color: #0297C3;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.taskApp__navbar--logo{
  width: 4rem;
}